{% load static %}
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 d-flex flex-column text-center text-lg-start footer-info">
                    <a href="index.html" class="logo d-flex mx-auto align-items-center">
                        <!-- <span>Cummins BHS</span> -->
                        <img src="{% static 'images/other/cummins-bhs --logo -footer.png' %}">
                    </a>
                    <p class="text-center ps-2 pe-2">We welcome Medicare, Medicaid, and 3rd party insurances as well as self-pay.</p>
                    <p class="text-center ps-2 pe-2">Cummins Behavioral Health Services is a Joint Commission accredited organization.</p>
                    <div class="social-links d-flex mx-auto mt-4 mb-4">
                        <a href="https://www.facebook.com/CumminsBehavioralHealth/" target="_blank" class="facebook" title="Visit our Facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/cummins_bhs/" target="_blank" class="instagram" title="Visit our Instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.youtube.com/@cumminsbehavioralhealth501" target="_blank" class="youtube" title="Visit our YouTube"><i class="bi bi-youtube"></i></a>
                        <a href="https://www.linkedin.com/company/cummins-behavioral-health-services/" target="_blank" class="linkedin" title="Visit our LinkedIn"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3 footer-links">
                    <h4>Corporate Office</h4>
                    <ul>
                        <li><span>5101 East US 36, Suite 101<br>
                            Avon, Indiana 46123</span></li>
                        <li><a href="tel:8887141927">Phone: (888) 714-1927</a></li>
                        <li><span>Fax (Medical Records Only):<br>
                            (317) 272-6811</span></li>
                        <li><a href="tel:8887141927">24-hour Emergency Phone<br>
                            (888) 714-1927 Ext 1501</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-4 col-lg-3 footer-links">
                    <h4>Business Office</h4>
                    <ul>
                        <li><span>5101 East US 36, Suite 100<br>
                            Avon, Indiana 46123</span></li>
                        <li><a href="tel:8887141927">Toll-free: (888) 714-1927</a></li>
                        <li><span>Fax: (317) 745-9565</span></li>
                    </ul>
                </div>

                <div class="col-12 col-md-4 col-lg-2 footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li class="fw-bold"><a href="tel:988">Indiana Suicide Prevention Click to Call 988 Now</a></li>
                        <li><a href="https://cbhsc.smartcarenet.com/CBHSmartcareProd/PatientPortal.aspx">My Portal</a></li>
                        <li><a href="https://www.patientnotebook.com/BusinessCummins/payment">Online Payment</a></li>
                        <li><a href="https://cummins-web.s3.amazonaws.com/documents/PrivacyNotice.pdf" target="_blank">HIPAA Privacy Notice</a></li>
                        <li><a href="/careers/">Careers</a></li>
                        <li><a href="https://cummins-web.s3.amazonaws.com/documents/PrivacyPolicy.pdf" target="_blank">Privacy Statement</a></li>
                    </ul>
                </div>

            </div>
        </div>




    </footer><!-- End Footer -->
    <!-- End Footer -->