{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="header align-items-center">
    <div class="container mb-4">
        <div class="row">
            <div class="col col-sm-12 col-md-7 logo">
                <img src="{% static 'images/other/cummins-bhs --logo -50.png' %}">
            </div>
            <div class="col col-sm-12 col-md-5">
                <a href="#" class="btn btn-primary mb-3"><i class="bi bi-person-circle me-1"></i><span>Information for New Patients</span></a>
                <form>
                    <div class="header_search">
                        <!-- <input type="text" class="form-control" placeholder="Search our website..."> -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search our website..."
                                   aria-label="Input group example" aria-describedby="basic-addon1">
                            <span class="input-group-text" id="basic-addon1">
                  <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
</svg></button>
                </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container container-nav align-items-center justify-content-between">
        <nav id="navbar" class="navbar row">
            <ul>
                <li><a href="#hero" title="Go Home"><i class="bi bi-house-fill d-flex align-items-center"></i></a></li>
                <li class="dropdown"><a href="#"><span>About</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Mission & Vision</a></li>
                        <li><a href="#">Awards & Recognition</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Services</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Substance Use Treatment</a></li>
                        <li><a href="#">Adult Services</a></li>
                        <li><a href="#">School-Based</a></li>
                        <li><a href="#">Youth and Family Services</a></li>
                        <li><a href="#">All Services</a></li>
                    </ul>
                </li>
                <li><a href="#">Programs</a></li>
                <li class="dropdown"><a href="#"><span>Patient Information</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Getting Started</a></li>
                        <li><a href="#">New Consumer First Visit</a></li>
                        <li><a href="#">Payment Options</a></li>
                        <li><a href="#">Medical Records</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li class="dropdown"><a href="#"><span>Contact</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Contact Form</a></li>
                        <li><a href="#">Our Locations</a></li>
                    </ul>
                </li>
                <li><a href="#contact" class="nav_careers"><i class="bi bi-briefcase-fill me-1"></i><span>Careers</span></a>
                </li>
            </ul>
        </nav><!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header><!-- End Header -->
<!-- End Header -->