
    <!-- Pre footer -->
    <section id="page-subscribe" class="page-subscribe">
        <div class="container">
            <div class="section-header">
                <h2>Subscribe to Our Newsletter</h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col col-sm-12 col-md-6">
                    <form action="/coming-soon/">
                        <div class="footer_subscribe">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email..."
                                       aria-label="Input group example" aria-describedby="basic-addon1">
                                <span class="input-group-text" id="basic-addon1">
                                    <button class="btn">Subscribe</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>