
<section id="topbar" class="topbar d-flex align-items-center mb-4">
    <div class="container d-flex justify-content-center justify-content-md-between contact-info">
        <a href="#" class="d-none d-md-block d-xl-none d-xl-none"><i class="mobile-nav-toggle bi bi-list d-flex align-items-center">
            <div class="ms-1 d-none"><span>Main Menu</span>
            </div>
        </i></a>
        <a href="#"><i class="bi bi-heart-pulse-fill d-flex align-items-center color-custom-1">
            <div class="ms-1"><span>Click for resources &gt;</span><br><span class="contact-info_title color-custom-1">Indiana Suicide Prevention</span>
            </div>
        </i></a>
        <a href="#"><i class="bi bi-telephone-forward-fill d-flex align-items-center">
            <div class="ms-1"><span>Day or Night Emergency Crisis</span><br><span class="contact-info_title">(888) 714-1927 Ext 1501</span>
            </div>
        </i></a>
        <a href="#"><i class="bi bi-coin d-flex align-items-center">
            <div class="ms-1"><span>Billing Questions?</span><br><span class="contact-info_title">(888) 714-1927 Ext 1503</span>
            </div>
        </i></a>
    </div>
</section><!-- End Top Bar -->