{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!-- ======= Hero Section ======= -->
{% if page.image_banner %}
<section id="hero" class="hero">
    <div class="hero-container container position-relative" style="background-image: url('{{ page.image_banner.url }}');">
        <div class="hero-caption">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>
{% endif %}
<!-- End Hero Section -->

<main id="main">

    <!-- ======= Section Two ======= -->
    <section id="page-content" class="page-content">
        <div class="container" data-aos="fade-up">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ page.get_parent.url }}"><i class="bi bi-box-arrow-left"></i> Blog Home</a>
                </li>
              </ol>
            </nav>
            <div class="row gx-5">

                {% if not page.content_rich_1 and not page.content_rich_2 %}
                <div class="col-12 col-md-8 d-flex flex-column mx-auto main-content">
                    <h2 class="mt-0">{{ page.title }}</h2>
                    <p class="meta">{{ page.date }}</p>
                    {% image page.featured_image original loading="lazy" class="blog-featured-image rounded-3 mx-auto mb-5" %}
                    {% include_block page.body %}
                </div>
                {% else %}
                <div class="col-12 col-md-9 main-content">
                    <h2>{{ page.title }}</h2>
                    <p class="meta">{{ page.date }}</p>

                    {% include_block page.body %}
                </div>
                {% endif %}
                {% if page.content_rich_1 or page.content_rich_2 %}
                <div class="col-12 col-md-3 sidebar">
                    <div class="row">
                        <div class="col d-none d-md-block sidebar-info sidebar-info--bg-1">
                            {% if page.content_rich_1|richtext %}
                            <h1><i class="bi bi-info-circle-fill"></i> On This Page</h1>
                            {{ page.content_rich_1|richtext }}
                            {% endif %}
                            {{ page.content_rich_2|richtext }}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </section><!-- End Section -->

    {% block prefooter %}
        {% include "includes/prefooter.html" with parent=site_root calling_page=self %}
    {% endblock prefooter %}

</main><!-- End #main -->
{% endblock %}