{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative" style="background: gray; height: 240px; border-radius: 10px;">
      COMING SOON!
    </div>
  </section>
  <!-- End Hero Section -->

<main id="main">

    <!-- ======= Section Two ======= -->
    <section id="page-content" class="page-content">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-9 main-content">
            <div>
            {{ page.content_rich_1|richtext }}
            </div>
            <hr>
            <div>
            {{ page.content_rich_2|richtext }}
            </div>
          </div>
          <div class="col-lg-3 sidebar">
            <div class="row">
                <div class="col sidebar-info--bg-1">
                    <h3><i class="bi bi-info-circle-fill"></i> On This Page</h3>
                    <ul>
                        <li><a href="#">Mission & Vision</a></li>
                        <li><a href="#">For Persons Seeking Services</a></li>
                        <li><a href="#">For Behavioral Health</a></li>
                        <li><a href="#">For Community Organizations</a></li>
                        <li><a href="#">Our Values</a></li>
                        <li><a href="#">More Information</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Section -->

    {% block prefooter %}
        {% include "includes/prefooter.html" with parent=site_root calling_page=self %}
    {% endblock prefooter %}

</main><!-- End #main -->
{% endblock %}