{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-inside_default{% endblock %}

{% block content %}

<!-- ======= Hero Section ======= -->
{% if page.image_banner %}
<section id="hero" class="hero">
    <div class="hero-container container position-relative" style="background-image: url('{{ page.image_banner.url }}');">
        <div class="hero-caption">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>
{% endif %}
<!-- End Hero Section -->

<main id="main">

    <!-- ======= Section Two ======= -->
    <section id="page-content" class="page-content">
        <div class="container" data-aos="fade-up">

            <div class="row gx-5">

                {% if not page.content_rich_1 and not page.content_rich_2 %}
                <div class="col-12 main-content">
                    {% include_block page.body %}
                </div>
                {% else %}
                <div class="col-12 col-md-9 main-content">
                    {% include_block page.body %}
                </div>
                {% endif %}
                {% if page.content_rich_1 or page.content_rich_2 %}
                <div class="col-12 col-md-3 sidebar">
                    <div class="row">
                        <div class="col d-none d-md-block p-4 mt-3 sidebar-info sidebar-info--bg-1">
                            {% if page.content_rich_1|richtext %}
                            <h3 class="d-flex flex-row align-items-center"><i class="bi bi-info-circle-fill fs-3 me-2"></i> On This Page</h3>
                            {{ page.content_rich_1|richtext }}
                            {% endif %}
                            {{ page.content_rich_2|richtext }}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </section><!-- End Section -->

    {% block prefooter %}
        {% include "includes/prefooter.html" with parent=site_root calling_page=self %}
    {% endblock prefooter %}

</main><!-- End #main -->
{% endblock %}